<div id="<%= dom_id link_campaign %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Link:</strong>
    <%= link_campaign.link_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Campaign:</strong>
    <%= link_campaign.campaign_id %>
  </div>
</div>
